//COLOR-VARIABLES
$color-black: #000;
$color-white: #fff;
$color-grey: #eee;
$color-grey-light: #dcdcdc;
$color-primary: #55c57a;
$color-grey-dark: #777;
$color-grey-dark-2: #201e1c;
$color-orangered: #ff4500;
$color-orange: #ffa500;

$color-turqiouse: #5bc0be;

$color-dark-blue: #0b132b;
$color-medium-blue: #1c2541;
$color-light-blue: #3a506b;

$color-primary-blue: #2d328e;
$color-secondary-blue: #383fb2;
$color-silver: #b1adae;

//GRID VARIABLES
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;

//FONT
$default-font-size: 1.6rem;
