.u-center-text {
  text-align: center;
}

//MARGIN TOP

.u-margin-top-xs {
  margin-bottom: 0.5rem;
}

.u-margin-top-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-medium {
  margin-bottom: 4rem;
}

.u-margin-top-big {
  margin-bottom: 8rem;
}

//MARGIN BOTTOM

.u-margin-bottom-xs {
  margin-bottom: 0.5rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

//MARGIN LEFT
.u-margin-left-small {
  margin-left: 1.5rem;
}

.u-margin-left-medium {
  margin-left: 4rem;
}

.u-margin-left-big {
  margin-left: 8rem;
}

//MARGIN RIGHT
.u-margin-right-small {
  margin-right: 1.5rem;
}

.u-margin-right-medium {
  margin-right: 4rem;
}

.u-margin-right-big {
  margin-right: 8rem;
}

.icon {
  position: absolute;
  padding: 2rem;
  z-index: 2;
}
